
h1 {
    color: #3498db;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    max-width: 400px;
}

li {
    padding: 40px, 20px;
    font-family: sans-serif;
}

footer {

}